name: "Autoformat"
on:
  push:

jobs:
  composer-normalize:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - uses: shivammathur/setup-php@v2

      - uses: ramsey/composer-install@v2

      - run: composer normalize

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Normalize composer.json

  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - uses: creyD/prettier_action@v4.2
        with:
          prettier_options: --write --tab-width=2 *.md
          commit_message: Prettify
