name: Validate

on:
  pull_request:
  push:
    branches:
      - master

env:
  REQUIRED_PHP_EXTENSIONS: mbstring, mysqli, pdo_sqlite

jobs:
  tests:
    runs-on: ubuntu-20.04


    strategy:
      fail-fast: false
      matrix:
        php-version: [7.1, 7.2, 7.3, 7.4, 8.0, 8.1, 8.2]
        laravel-version: ['5.6.*', '5.7.*', '5.8.*', '11.*', ^6, ^7, ^8, ^9, ^10]
        exclude:
          - php-version: 7.1
            laravel-version: ^6
          - php-version: 7.1
            laravel-version: ^7
          - php-version: 7.1
            laravel-version: ^8
          - php-version: 7.1
            laravel-version: ^9
          - php-version: 7.1
            laravel-version: ^10
          - php-version: 7.2
            laravel-version: ^8
          - php-version: 7.2
            laravel-version: ^9
          - php-version: 7.2
            laravel-version: ^10
          - php-version: 7.3
            laravel-version: ^9
          - php-version: 7.3
            laravel-version: ^10
          - php-version: 7.4
            laravel-version: ^9
          - php-version: 7.4
            laravel-version: ^10
          - php-version: 8.0
            laravel-version: 5.6.*
          - php-version: 8.0
            laravel-version: 5.7.*
          - php-version: 8.0
            laravel-version: 5.8.*
          - php-version: 8.0
            laravel-version: ^6
          - php-version: 8.0
            laravel-version: ^7
          - php-version: 8.0
            laravel-version: ^10
          - php-version: 8.1
            laravel-version: 5.6.*
          - php-version: 8.1
            laravel-version: 5.7.*
          - php-version: 8.1
            laravel-version: 5.8.*
          - php-version: 8.1
            laravel-version: ^6
          - php-version: 8.1
            laravel-version: ^7
          - php-version: 8.2
            laravel-version: 5.6.*
          - php-version: 8.2
            laravel-version: 5.7.*
          - php-version: 8.2
            laravel-version: 5.8.*
          - php-version: 8.2
            laravel-version: ^6
          - php-version: 8.2
            laravel-version: ^7
          - laravel-version: 11.*
            php-version: 7.1
          - laravel-version: 11.*
            php-version: 7.2
          - laravel-version: 11.*
            php-version: 7.3
          - laravel-version: 11.*
            php-version: 7.4
          - laravel-version: 11.*
            php-version: 8.0
          - laravel-version: 11.*
            php-version: 8.1


    steps:
      - uses: actions/checkout@v2


      - uses: shivammathur/setup-php@v2
        with:
          extensions: ${{ env.REQUIRED_PHP_EXTENSIONS }}
          php-version: ${{ matrix.php-version }}


      - uses: actions/cache@v1
        with:
          path: ~/.composer/cache
          key: php-${{ matrix.php-version }}-composer-${{ matrix.laravel-version }}
          restore-keys: php-${{ matrix.php-version }}-composer-${{ matrix.laravel-version }}-


      - run: composer require illuminate/support:${{ matrix.laravel-version }} --no-interaction --prefer-dist --no-progress


      - run: vendor/bin/phpunit --colors=always

  coverage:
    runs-on: ubuntu-20.04


    strategy:
      matrix:
        php-version: [8.1, '8.2']
        laravel-version: ['11.0', ^9]
        exclude:
          - laravel-version: '11.0'
            php-version: 8.1


    steps:
      - uses: actions/checkout@v2


      - uses: shivammathur/setup-php@v2
        with:
          coverage: pcov
          extensions: ${{ env.REQUIRED_PHP_EXTENSIONS }}
          php-version: ${{ matrix.php-version }}


      - uses: actions/cache@v1
        with:
          path: ~/.composer/cache
          key: php-${{ matrix.php-version }}-composer-${{ matrix.laravel-version }}
          restore-keys: php-${{ matrix.php-version }}-composer-${{ matrix.laravel-version }}-


      - run: composer require illuminate/support:${{ matrix.laravel-version }} --no-interaction --prefer-dist --no-progress


      - run: vendor/bin/phpunit --coverage-clover=coverage.xml


      - uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
